.img_logo {
    margin-top: 20px;
    margin-left: 25px;
    width: 95px;  
}

.img_loginpage {
    margin-top: 80px; 
}

.content-login {
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}

.content {
    margin-top:20px;
    margin-left: 25px;
    height: 39px;
    font-family: "SourceSansPro-SemiBold";
    font-size: 45px;
    color: #333435;
    letter-spacing: 0;
    line-height: 52px;
    font-weight: 600;
}

.required {   
    font-family: "SourceSansPro-SemiBold";
    font-size: 45px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.second-col {
    background: #22B6E6;
    border-radius: 10px 10px 0px 0px;
    padding: 50px;
}

.signin-input{
    margin-left: 10px;
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    border: 0px solid #979797;
    border-radius: 0px;
    outline: none;
  }

.signin-input-wrapper {
    margin:35px 0px 0px 0px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    padding: 0px 10px;
}

.forgot-password {
    margin-top: 10px;
    color:#FFFFFF;
    text-align: right;
    font-family: "SourceSansPro-SemiBold";
    font-size: 18px;
    letter-spacing: 0;
}

.signin-button {    
    width: 100%;
    height: 50px;
    background: #FFDA30;
    border: 0px solid #979797;
    outline: none;
    overflow: hidden;
}

.form-group {
    margin:35px 0px 0px 0px;
    width: 100%;
    background-color: #FFDA30;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    padding: 0px 10px;
}